services:
  short-url-redirection-service-api-server:
    container_name: short-url-redirection-service-api-server-dev
    build:
      context: ../../
      dockerfile: ./docker/development/Dockerfile.dev
    restart: unless-stopped
    image: short-url-redirection-service-api-server-dev
    env_file: ../../.env.dev
    ports:
      - "8000:8000"
    volumes:
      - ../../src:/app/src
      - /app/node_modules
    depends_on:
      short-url-redirection-service-cache:
        condition: service_healthy
    networks:
      - short-url-redirection-service-net
    healthcheck:
      test:
        [
          "CMD",
          "ping",
          "http://localhost:${APP_PORT:-8000}/api/v1/health-check",
        ]
      interval: 30s
      timeout: 5s
      retries: 5

  short-url-redirection-service-cache:
    container_name: short-url-redirection-service-cache-dev
    image: redis/redis-stack
    restart: unless-stopped
    env_file: ../../.env.dev
    environment:
      - REDIS_ARGS='--requirepass supersecretpassword'
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - short-url-redirection-service-redis-data:/data
    networks:
      - short-url-redirection-service-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 5

volumes:
  short-url-redirection-service-redis-data:

networks:
  short-url-redirection-service-net:
    driver: bridge
